// Button mixin
@mixin button($width,$height,$b-radius,$b-color,$color,$l-height) {
    width: $width;
    height: $height;
    border-radius: $b-radius;
    background-color: $b-color;
    color: $color;
    line-height: $l-height;
    @content;
}

// hover mixin
@mixin hover($color,$bg-color){
    color: $color;
    background-color: $bg-color;
    @content;
    }

    // Header-search-input
@mixin head-search-input($color){
    height: 40px;
    outline: none;
    border-radius: 1000px;
    @if $color==white {
        padding-left: 50px;
    background-color: $color;
    }@else if $color==$head-input-bg{
        padding-left: 20px;
    background-color: $color;
    }
    @content;
}