header{
    @include size(100%,400px){
        position: relative;
        border: 1px solid $about-card-color;
        background-size: cover;
    }
    @media screen and (max-width:992px){
        height: 300px;
    }
            // logo section start
            .logo-sec{
                img{
               @media screen and (max-width:450px) {
                height: 30px;
                width: 100px;
               }
            
                }
            }
            // logo section End
    
            // top button code start
            .top-btn{
                width: 210px;
                display: flex;
                background-color: $third-color;
                height: 40px;
                @media screen and (max-width:450px) {
                    height: 30px;
                    width: 200px;
                        }
                        @media screen and (max-width:450px) {
                            width: 150px;
                                }
                button{
                
                    @include button(80%,40px,5px,$third-color,white,40px){
                        font-size: 12px;
                        border: none;  
                    }
                    @media screen and (max-width:450px) {
                        @include button(80%,30px,5px,$third-color,white,30px){
                            font-size: 10px;
                        }
                            }
                }
                figure{
                    width: 20%;
                    clip-path: polygon(36% 0, 100% 0%, 100% 99%, 0% 100%);
                    background:$second-color;
                    height: 40px;
                    @media screen and (max-width:450px) {
                        height: 30px;
                            }
                    i{
                        line-height: 40px;
                        margin-left: 20px;
                        color: white;
                        font-size: 12px;
                        @media screen and (max-width:450px) {
                            height: 30px;
                            font-size: 10px;
                            line-height: 30px;
                            margin-left: 15px;
                                }
                    }
                }
            } 
            // top button code End
            // navbar code start
            .navbar-bg{
    height: 60px;
                border-radius: 8px;
                background-color: $nav-bg;
                z-index: 55555;
    @media screen and(max-width:992px){
        height: auto;
    }
    @media screen and(max-width:768px){
        width: 95%;
    }
    .nav-manu{
    width: 75%;
    @media screen and(max-width:768px){
        width: 50%;
    }
            nav{
        
                @media screen and (max-width:768px){
                    width: 95%;
                }
           
                .navbar-toggler{
                  border: 1px solid white;
                  color: white !important;
                  @media screen and (max-width:992px){
               margin-top: 10px;
                }
                }
                a{
                    font-size: 18px;
                    color: lighten($color: #000000, $amount: 100);
                    &:hover{
                        @include hover($text-color,auto);
                        }
                    @media screen and (max-width:992px){
                        font-size: 14px;
                        padding:0px;
                    }
                }
            }
    }
    
            .nav-profile{
                width: 25%;
                height: 60px;
                @media screen and(max-width:768px){
                    width: 50%;
                }
                i{
                    color: white;
                    &:hover{
                        @include hover($text-color,auto);
                    }
                }
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        @include hover($text-color,auto);
                    }
                }
          a{
            z-index: 2222;
    
            img{
                width: 40px;
                height: 40px;
            }
          }
            }
            .dropdown-menu{
                background-color: $nav-bg;
                button{
                    color: white;
                    &:hover{
                        @include hover($text-color,$nav-bg);
                    }
                }
            }
        }
        
            // navbar code End
   
}
// header-end
// header-form-start
.form{
    height: 150px;
    background: lighten($color: #EA676A, $amount:10);
    display: flex;
    align-items: center;
    form{
        overflow-x: hidden;
        input,select{
            width: 100%;
            height: 50px;
            border-radius: 1000px;
            border: 1px solid $primary-color;
            outline: none;
            @media screen and(max-width:575px){
                width: 90%;
                height: 35px;
                line-height: 35px;
                margin: auto;
            }
        }
        select{
            &:focus{
                border-radius: 0px;
            }
        }
        button{
            @include  button(auto,50px,1000px,$primary-color,white,50px){
                padding: 0px 50px;
                border: none;
                outline: none;
                &:hover{
                    background-color: darken($color: $primary-color, $amount: 10);
                }
            }
            @media screen and(max-width:575px){
                width: 90%;
                height: 35px;
                line-height: 35px;
              
            }
        }
    }
}
// header-form-end
