// header-size-extend
%header-size{
width: 100%;
height: 700px;
    }

// header-5-popular-button-code
%head-btn{
    border: 1px solid #D2495A;
    border-radius: 1000px;
    background-color: transparent;
    padding:5px 20px;
    margin: 2px 0px;
    color: white;
    font-size: 13px;
}
// small heading text
%small-txt{
    color: $text-color;
    letter-spacing: 2.5px;
    font-size: 12px;
}
