$primary-color:rgba(229, 9, 20, 0.8);;
$second-color:#D2495A;
$third-color:#E56568;
$head-input-bg:#4F4F4F;
$nav-bg:rgba(53, 59, 72, 0.8);
$text-color:#E56568;
$slider-sec-bg: rgba(229, 9, 20, 0.8);;
$slider-bg:#65343f;
$slider-btn-bg:rgba(53, 59, 72, 0.85);
$about-card-color:#F6BBBC;
$join-us-btn:#353B48;
$footer-color:#353B48;
$footer-icon: #E56568;
$border-color:#828282;
$faqs-bg: #ECF0F1;