footer{
    margin-top: 80px;
    .logo,.ul-1,.ul-2,form{
        width: 20%;
        @media screen and(max-width:576px){
            width: 80%;
        }
    }
    .logo{
        p{
            color: gray;
        }
    }
    ul{
        list-style: none;
        li{
            font-weight: bold;
            a{
                text-decoration: none;
            color: #4B4B4B;
&:hover{
    color: $text-color;
}
            }
        }
    }
    form{
        p{
            color: gray;
        }
        input{
         
            &:focus{
                box-shadow: inset 2px 2px 5px gray, inset -5px -5px 10px #FFF;
                border: none;
            }
            @include button(100%,50px,4px,transparent,gray,50px){
                padding-left: 20px;
          outline: none;
            }
        }
    }
    
    .footer-term{
        background-color: $footer-color;
        .social-icon{
            width: 30%;
            @media screen and(max-width:576px){
                width: 100%;
            }
            a{
                margin: 5px 10px;
                text-decoration: none;
                font-size: 20px;
                color: $footer-icon;
                &:hover{
                    @include hover(lighten($footer-icon,100),auto){
                        transform: scale(1.2);
                    }
                }
            }
        }
        small{
            color: gray;
        }
    }
}