.u-sign-up{
    @include size(100%,100vh);
    .left-sec{
        @include size(100%,100vh){
            background-size:cover;
            @media screen and(max-width:992px){
                height: auto;
                padding: 20px 0px;
            }
        }
        h1{
            font-size: 4rem;
            color: $primary-color;
            @media screen and (max-width:1200px){
                font-size: 3rem;
            }
      span{
          font-size: 6rem;
          @media screen and (max-width:1200px){
            font-size: 3rem;
        }
      }
        }
    }
    .vertical-container{
        background-color: $second-color;

        .color-line{
    background-color: $third-color;
    height: 100vh;
    @media screen and (max-width:991px){
        height: 5vh;
    }
        }
    }
    .right-sec{
        @include size(100%,100vh);
        @media screen and(max-width:992px){
            height: auto;
        }
        form{
                height: 100vh;
                @media screen and (max-width:992px){
                height: auto;
                }
        
        h1{
            font-size: 4rem;
            @media screen and(max-width:400px){
               font-size: 9vw;
                                }
            color: $primary-color;
            span{
                color: $third-color;
            }
  
        }
        input{
            @include size(100%,5rem){
                border-radius: 100rem;
                font-size: 1.4rem;
                padding-left:3rem ;
                border: 1px solid $border-color;
            }
    
        }
        h6{
            font-size: 1.4rem;
            color: $primary-color;
        }
        button{
            @include size(100%,5rem){
                background-color: $second-color;
                border-radius: 100rem;
                border: none;
                font-size: 1.4rem;
                color: lighten($color: #000000, $amount: 100);
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            }
            &:hover{
                @include hover(white,darken($second-color,15));
            }
        }
        small{
            font-size: 1.4rem;
            color: $primary-color;
            a{
                color: $third-color;
            }
        }
    }
}
}