$primary-color:#E43F53;
$second-color:#B02F36;
$third-color:#E50914;
$nav-bg:rgba(53, 59, 72, 0.8);
$text-color:#D2495A;
$slider-sec-bg:#3f3e47;
$about-card-color:#EAEAEA;
$join-us-bg:rgba(97, 97, 97, 0.98);
$footer-color:#353B48;
$footer-icon: #E56568;
