$primary-color: rgba(229, 9, 20, 0.8);
$second-color:#E56568;
$third-color:rgba(234, 103, 106, 0.45);
$four-color:#353B48;
$nav-manu-color:#BDBDBD;
$dark-gray: #353B48;
$light-white:#F2F2F2;
$border-color:#828282;