.u-sign-up{
    @include size(100%,750px);
    .left-sec{
        @include size(100%,750px){
            background-size:cover;
            @media screen and(max-width:992px){
                height: auto;
                padding: 20px 0px;
            }
        }
        h1{
            font-size: 3.2rem;
            margin-top: 6rem;
            color:white;
  
        }
        .edit-pro{
            .profile-img{
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background-color: white;
                a{
                    position: absolute;
                   z-index: 5555;
                   margin-left: 120px;
                   margin-top: 100px;
               i{
                background-color: #707070;
                color: white;
                padding: 1.2rem;
                font-size: 2rem;
                border-radius: 100%;
    
               }
                }
            }
     
        }
    
    }
    .v-line{
        background-color: $v-line-bg;
        height: 750px;
        @media screen and (max-width:992px){
            height: 2rem;
        }
    }
    .right-sec{
        @include size(100%,750px);
        @media screen and(max-width:992px){
            height: auto;
        }
        h1{
            font-size: 4rem;
            @media screen and(max-width:400px){
               font-size: 9vw;
                                }
            color: $primary-color;
            img{
                @media screen and(max-width:992px){
width: 140px;
                }
                @media screen and(max-width:360px){
                    width: 110px;
                                    }
            }
        }
        input{
            @include size(100%,5rem){
                border-radius: 100rem;
                font-size: 1.4rem;
                padding-left:3rem ;
                border: 1px solid $border-color;
            }
    
        }
        textarea{
            font-size: 1.4rem;
            border-radius: 2rem;
            padding:1rem 0rem 0rem 3rem ;
            border: 1px solid $border-color;
        }
        button{
            @include size(100%,5rem){
                background-color: $third-color;
                border-radius: 100rem;
                border: none;
                font-size: 1.4rem;
                color: lighten($color: #000000, $amount: 100);
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

            }
			     &:hover{
                @include hover(white,darken($third-color,15));
            }
        }
        small{
            font-size: 1.4rem;
            color: $primary-color;
            a{
                color: $third-color;
            }
        }
    }
}