// parent-div-start
.parent-div{
    @include size(100%,auto) {
        border:0.1px solid transparent;
        position: relative; 
        // z-index: 5555;
    }
//  child-div-start
    .child-div{
    @include size(30%,100%) {
        position: absolute; 
        top: 0;
        z-index: -1111;
        display: flex;
        @media screen and (max-width:991px){
            width: 100%;
            height: 300px;
            flex-direction: column;
        }

    }
    // backgroun-code-start
    .bg{
        @include size(95%,100%){
            background-image: url(../images/left-appointment-bg.png);
        }
        @media screen and (max-width:991px){
         width: 100%;
         height: 95%;
     }
    }
    .v-line{
        @include size(5%,100%){
            background-color: $third-color;
        }
        @media screen and (max-width:991px){
         width: 100%;
         height: 5%;
     }
    }
    // backgroun-code-end

}
//  child-div-End

    // page-content-code-start
            // logo section start
            .logo-sec{
                img{
               @media screen and (max-width:450px) {
                height: 30px;
                width: 90px;
               }
            
                }
            }
            // logo section End
    
            // top button code start
            .top-btn{
                width: 210px;
                display: flex;
                background-color: $third-color;
                height: 40px;
                @media screen and (max-width:450px) {
                    height: 30px;
                    width: 200px;
                        }
                        @media screen and (max-width:450px) {
                            width: 150px;
                                }
                button{
                
                    @include button(80%,40px,5px,$third-color,white,40px){
                        font-size: 12px;
                        border: none;  
                    }
                    @media screen and (max-width:450px) {
                        @include button(80%,30px,5px,$third-color,white,30px){
                            font-size: 10px;
                        }
                            }
                }
                figure{
                    width: 20%;
                    clip-path: polygon(36% 0, 100% 0%, 100% 99%, 0% 100%);
                    background:$second-color;
                    height: 40px;
                    @media screen and (max-width:450px) {
                        height: 30px;
                            }
                    i{
                        line-height: 40px;
                        margin-left: 20px;
                        color: white;
                        font-size: 10px;
                        @media screen and (max-width:450px) {
                            height: 30px;
                            font-size: 10px;
                            line-height: 30px;
                            margin-left: 15px;
                                }
                    }
                }
            } 
            // top button code End
                    // navbar code start
        .navbar-bg{
            height: 60px;
                        border-radius: 8px;
                        background-color: $nav-bg;
                        z-index: 55555;
            @media screen and(max-width:992px){
                height: auto;
            }
            @media screen and(max-width:768px){
                width: 95%;
            }
            .nav-manu{
            width: 75%;
            @media screen and(max-width:768px){
                width: 30%;
            }
                    nav{
                
                        @media screen and (max-width:768px){
                            width: 95%;
                        }
                   
                        .navbar-toggler{
                          border: 1px solid white;
                          color: white !important;
                          @media screen and (max-width:992px){
                       margin-top: 10px;
                        }
                        }
                        a{
                            font-size: 18px;
                            color: lighten($color: #000000, $amount: 100);
                            &:hover{
                                @include hover($text-color,auto);
                                }
                            @media screen and (max-width:992px){
                                font-size: 14px;
                                padding:0px;
                            }
                        }
                    }
            }
            
                    .nav-profile{
                        width: 25%;
                        height: 60px;
                        @media screen and(max-width:768px){
                            width: 70%;
                        }
                        i{
                            color: white;
                            &:hover{
                                @include hover($text-color,auto);
                            }
                        }
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                @include hover($text-color,auto);
                            }
                        }
                  a{
                    z-index: 2222;
            
                    img{
                        width: 40px;
                        height: 40px;
                    }
                  }
                    }
                    .dropdown-menu{
                        background-color: $nav-bg;
                        button{
                            color: white;
                            &:hover{
                                @include hover($text-color,$nav-bg);
                            }
                        }
                    }
                }
// comapny-data-start
                .company{
                    margin-bottom: 200px;
                    @media screen and(max-width:992px){
                        margin-bottom: 10px;
                    }
               .left-company{
                   h1,h4,p,i{
                       color: white;
                       @media screen and (max-width:992px){
                           color: black;
                       }
                   }
                   .checked{
                       color: orange;
                   }
               }
               .right-company{
                   padding-left: 70px;
                   @media screen and (max-width:992px){
                       padding: 0px 10px;
                   }
                //    review and rating section
                   .review-rating{
                      .review{
                       width: 30%;
                       @media screen and (max-width:575px){
                           width: 100%;
                       }
                       span{
                           color: $gray-3;
                       }
                       .checked{
                           color: orange;
                       }
                      } 
                      .rating{
                         width: 70%;
                         @media screen and (max-width:575px){
                            width: 100%;
                        }
                         .progress-bar{
                             background-color:$primary-color;
                         }
                         p{
                             color: $gray-3;
                         }
                      }
                   }
                //    review and rating section end
                // card-section-start
                .card-sec{
                    h5{
                        color: $primary-color;
                    }
                    .card{
                        border-radius: 8px;
                        .card-headd{
                            p{
                                color: $gray-3;
                            }
                            .checked{
                                color: orange;
                            }
                        }
                        .card-body{
                            p{
                                color: $gray-3;
                            }
                        
                        }
                        .card-fot{
                            p{
                                color: $primary-color;
                            }
                            a{
                                text-decoration: none;
                                color: $gray-3;
                           
                            }
                            i{
                                border: 1px solid gray;
                                padding: 7px;
                                border-radius: 100%;
                            }
                        }
                      
                    }
                }
                // card-section-End
           
                .pagination{
                    margin-bottom: 30px;
                .page-link{
                    background:gray;
                    color: white;
                    &:focus,:active{
                        background-color:$second-color;
                    }
                 
                }
                }
          
                 
               }

                }
// comapny-data-End


    // page-content-code-End


}
// parent-div-End

// section-two-start
.section-two{
    margin-top: -60px;
@media screen and (max-width:992px){
    margin-top: 0px;
}
    .join-sec{
        background-color: $join-us-btn;
    border-radius: 20px;

        p{
            width: 45%;
            @media screen and(max-width:576px){
                width: 90%;
            }
            color: lighten($color: #000000, $amount: 100);
        }
      
            .join-btn{
                width: 210px;
                display: flex;
                background-color: $third-color;
                height: 40px;
                @media screen and (max-width:450px) {
                    height: 30px;
                    width: 200px;
                        }
                        @media screen and (max-width:450px) {
                            width: 150px;
                                }
                button{
                
                    @include button(80%,40px,5px,$third-color,white,40px){
                        font-size: 12px;
                        border: none;  
                    }
                    @media screen and (max-width:450px) {
                        @include button(80%,30px,5px,$third-color,white,30px){
                            font-size: 2.5vw;
                        }
                            }
                }
                figure{
                    width: 20%;
                    clip-path: polygon(36% 0, 100% 0%, 100% 99%, 0% 100%);
                    background: $second-color;
                    height: 40px;
                    @media screen and (max-width:450px) {
                        height: 30px;
                            }
                    i{
                        line-height: 40px;
                        margin-left: 20px;
                        color: white;
                        font-size: 12px;
                        @media screen and (max-width:450px) {
                            height: 30px;
                            font-size: 10px;
                            line-height: 30px;
                            margin-left: 15px;
                                }
                    }
                }
            } 
    }
}

// section-two-End